<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/settings" method="post" class="form">
    Имя:
    <br>
    <input name="name" type="text" class="name field" onkeyup="this.value = this.value.replace(/[^a-zA-ZА-Яа-я()]/g,'');">
    <br>
    Фамилия:
    <br>
    <input name="surname" type="text" class="surname field" onkeyup="this.value = this.value.replace(/[^a-zA-ZА-Яа-я()]/g,'');">
    <br>
    Возраст:
    <br>
    <input name="age" type="text" class="age field" onkeyup="this.value = this.value.replace(/[^\d]/g,'');">
    <br>
    Статус:
    <br>
    <input name="status" type="text" class="status field" style="width: auto;" maxlength="700">
    <br>
<input class="validateBtn" type="submit" value="Сохранить изменённые поля и вернуться в профиль">
</form>
</body>
</html>